/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    box-sizing: border-box;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.body {
    position: relative;
    width: 100%;
    height: 100%;
}

.my_name_logo {
    width: 50px;
    height: 50px;
    margin: 30px 0% 0% 2%;
    float: left;
}

.my_name {
    color: #bc7676;
    float: left;
    font-family: "Trebuchet MS";
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin: 32px 24px 24px 24px;
}

.menu1 {
    width: 32px;
    height: 32px;
    float: right;
    margin: 39px 2% 0% 0%;
}

.the_boy {
    position: absolute;
    height: 54%;
    top: 44%;
    left: 2%;
}

.the_boy img {
    height: 100%;
}

.sprite_sheet4 {
    position: absolute;
    height: 24%;
    width: 191%;
    top: -1%;
    left: -10%;

    background: url(../img/Boy_spritesheet_589x190.png);
    background-size: auto 2300%;
    animation: boy steps(23, start) 10s infinite;
}

@keyframes boy {
    0% {background-position: 0 2300%}
    40% {background-position: 0 0%}
}

.back_island1 {
    position: relative;
    width: 80%;
    margin-top: 4%;
    margin-left: 1%;
}

.back_island2 {
    position: absolute;
    width: 80%;
    z-index: -2;
    top: 20%;
    left: 20%;
}

.island1 {
    position: absolute;
    height: 65%;
    top: 30%;
    right: 28%;
}

.island1 img {
    height: 100%;
}

.sprite_sheet1 {
    position: absolute;
    height: 62%;
    width: 32%;
    top: 34%;
    left: 41%;

    background: url(../img/waterfall_spritesheet_289x619.png);
    background-size: auto 1000%;
    animation: waterfall steps(10) 1s infinite;
}

@keyframes waterfall {
    0% {background-position: 0 1000%}
    100% {background-position: 0 0%}
}

.sprite_sheet2 {
    position: absolute;
    width: 43%;
    height: 16%;
    top: 15%;
    left: 32%;

    background: url(../img/flyng-books_spritesheet_405x161.png);
    background-size: auto 2100%;
    animation: flyingbooks steps(21) 3s infinite;
}

@keyframes flyingbooks {
    0% {background-position: 0 2100%}
    100% {background-position: 0 0%}
}

.sprite_sheet3 {
    position: absolute;
    width: 10.7%;
    height: 10%;
    left: 37.5%;

    background: url(../img/clouds_spritesheet_86x87.png);
    background-size: auto 1100%;
    animation:  clouds steps(11) 2s infinite;
}

@keyframes clouds {
    0% {background-position: 0 1100%}
    100% {background-position: 0 0%}

}

.island2 {
    position: absolute;
    height: 60%;
    top: 23.5%;
    right: 4%;
}

.island2 img {
    height: 100%;
}

.sprite_sheet5 {
    position: absolute;
    width: 8.5%;
    height: 20%;
    top: 35%;
    left: 4.2%;

    background: url(../img/cup_spritesheet_67x193.png);
    background-size: auto 1000%;
    animation: cup steps(10) 1s infinite;
}

@keyframes cup {
    0% {background-position: 0 1000%}
    100% {background-position: 0 0%}
}

.sprite_sheet6 {
    position: absolute;
    width: 24.4%;
    height: 15%;
    top: 43%;
    left: 39%;

    background: url(../img/Bulbs_spritesheet_192x147.png);
    background-size: auto 1000%;
    animation: bulbs steps(10) 2s infinite;
}

@keyframes bulbs {
    0% {background-position: 0 1000%}
    100% {background-position: 0 0%}
}

.sprite_sheet7 {
    position: absolute;
    width: 27.5%;
    height: 15%;
    top: 27%;
    right: 19%;

    background: url(../img/waterwheel_spritesheet_216x145.png);
    background-size: auto 1000%;
    animation: waterwheel steps(10) 1.5s infinite;
}

@keyframes waterwheel {
    0% {background-position: 0 1000%}
    100% {background-position: 0 0%}
}

.island3 {
    position: absolute;
    height: 20%;
    top: 46%;
    left: 30%;
}

.island3 img {
    height: 100%;
}

.sprite_sheet8 {
    position: absolute;
    width: 42%;
    height: 18%;
    top: -1%;
    right: 19%;

    background: url(../img/ghosts_spritesheet_98x57.png);
    background-size: auto 1700%;
    animation: ghosts steps(17) 3s infinite;
}

@keyframes ghosts {
    0% {background-position: 0 1700%}
    100% {background-position: 0 0%}
}

.island4 {
    position: absolute;
    height: 12%;
    top: 29%;
    left: 42%;
}

.island4 img {
    height: 100%;
}

.island5 {
    position: absolute;
    height: 15%;
    top: 21%;
    right: 35%;
}

.island5 img {
    height: 100%;
}

.island6 {
    position: absolute;
    height: 18%;
    bottom: 21%;
    right: 28%;
}

.island6 img {
    height: 100%;
}

.island7 {
    position: absolute;
    height: 35%;
    bottom: -6%;
    right: 21%;
}

.island7 img {
    height: 100%;
}

.island8 {
    position: absolute;
    height: 31%;
    top: 19%;
    right: 2%;
}

.island8 img {
    height: 100%;
}

.sprite_sheet9 {
    position: absolute;
    width: 74%;
    height: 67.5%;
    top: -4.5%;
    left: 10%;

    background: url(../img/colorado_spritesheet_215x293.png);
    background-size: auto 3000%;
    animation: colorado steps(30) 6s infinite;
}

@keyframes colorado {
    0% {background-position: 0 3000%}
    100% {background-position: 0 0%}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
